body{

    background-image: linear-gradient(to left, rgba(72, 106, 199, .3), rgb(111, 0, 255));
}
div{
    font-family: 'Lobster', cursive;
}
*, *::after, *::before{
    box-sizing: border-box;
}
.clock{
    position: absolute;
    left: 0;
    top: 30px;
    margin: auto;
    height: 300px;
    width: 300px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 4px 4px 12px black;
    position: relative;
}
.clock .number{
    --rotation: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 23px;
    transform: rotate(var(--rotation));
}
.clock .number1{--rotation: 30deg;}
.clock .number2{--rotation: 60deg;}
.clock .number3{--rotation: 90deg;}
.clock .number4{--rotation: 120deg;}
.clock .number5{--rotation: 150deg;}
.clock .number6{--rotation: 180deg;}
.clock .number7{--rotation: 210deg;}
.clock .number8{--rotation: 240deg;}
.clock .number9{--rotation: 270deg;}
.clock .number10{--rotation: 300deg;}
.clock .number11{--rotation: 330deg;}
.clock .number12{--rotation: 360deg;}
.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 1;
    transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));

}
.clock::after{
    content: "";
    height: 15px;
    width: 15px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 50%;
}
.clock .hand.second{
    height: 41%;
    width: 2px;
    background: red;
}.clock .hand.minite{
    height: 38%;
    width: 7px;
    background: rgb(0, 0, 0);
}.clock .hand.hour{
    height: 30%;
    width: 10px;
    background: rgb(0, 0, 0);
}



/* onnno */

#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    /*to make the height and width responsive*/
    width: 40vw;
    background: url(clock.png) no-repeat;
    /*setting our background image*/
    background-size: 100%;
}
  
#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
  
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}
  
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
  
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
    background: red;
}